@media screen and (min-width:1440px) {
    #newslet-row {
        padding: 165px 75px 
    }
}

@media screen and (max-width:425px) {
    #newslet-row{
        padding:75px 35px !important;
    }

    #newslet-text {
        font-size: large;
        text-align: left;
    }

    #input-email{
        text-align: center;
    }

    #btn-subs{
        justify-content: center;
    }
}