.link-text {
  color: black;
  font-weight: 600;
  text-decoration: none;
}
.link-text:hover {
  color: black;
}

.search-form {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .brand-logo {
    height: 64px;
    width: 80px;
    margin-right: 1em;
  }

  .main-menu {
    display: none;
  }

  .side-menu {
    display: flex;
    justify-content: right;
  }
}

@media only screen and (min-width: 768px) {
  .brand-logo {
    height: 64px;
    width: 120px;
    margin-right: 1em;
  }

  .main-menu {
    display: inline;
    margin-right: 1.2em;
  }

  .side-menu {
    display: none !important;
  }
}

@media only screen and (min-width: 1440px) {
  .main-menu {
    margin-right: 4em;
    font-size: 1rem;
  }

  .brand-logo {
    margin-right: 4em;
  }
}
