.ant-col a {
  color: black;
  font-weight: 600;
}

.ant-col a:hover {
  color: black;
}
@media only screen and (max-width:425px) {
  #gambarlogo {
    width: 80px !important;
    height: 50px !important;
  }

  .ant-row {
    width: 100%;
    left: 10%;
    display: flex;
    justify-content: right;
  }

  .ant-col .ant-col-4 {
    width: 15%;
    max-height: 45px;
    display: inline-block
  }

  #gambarlogo {
    width: 50%;
    height: 35px;
  }

  .ant-col .ant-col-12 {
    display: flex;
    margin-right: auto;
  }

  .ant-col .ant-col-3 {
    font-size: smaller;
    margin-left: 15px;
    left: 10%;
  }

  .ant-col .ant-col-18 {
    font-size: smaller;
    margin-left: 5px;
  }

  #about {
    font-size: smaller;
    margin-left: 5px;
    left: 25%;
  }

  .ant-btn.ant-btn-text {
    width: 30px;
    right: 14%;
  }

  #search-fav {
    display: inline-block;
  }

  #responsive-nav {
    height: 80%;
  }

  #menu {
    display: none;
  }

  #side-menu {
    display: block;
    left: 1%;
    border: none;
  }
}

@media only screen and (min-width:768px) {
  #gambarlogo {
    width: 120px !important;
    height: 70px !important;
  }
  
  .main-menu {
    margin-right: 1.2em;
  }
} 

@media only screen and (min-width:992px) {
  #gambarlogo {
    width: 120px !important;
    height: 70px !important;
  }
  
  .main-menu {
    margin-right: 2em;
  }
} 

@media only screen and (min-width:1440px) {
  #side-menu {
    display: none;
  }

  #menu {
    display: block;
  }

  #gambarlogo {
    width: 170px !important;
    height: 74px !important;
  }

  .main-menu {
    margin-right: 5em;
    font-size: 1rem;
  }
}

