@media only screen and (max-width:375px) {
  .main-product {
    width: 345px;
  }
}

@media only screen and (min-width:1024px) {
  .main-product {
    width: 345px;
  }
}

@media only screen and (min-width:1440px) {
  .main-product {
    width: 400px;
  }
}