@media screen and (max-width:425px) {
    .ant-col .ant-col-24 {
        margin:0px 0px ;
    }

    #carousel-row{
        margin-top: 20px !important;
    }

    #carousel-tag{
        font-size: medium;
    }

    #prev-btn {
        display: none ;
    }

    #next-btn {
        display: none ;
    }
}