$pd-font-size-xs: 0.75rem;
$pd-font-size-sm: 0.875rem;
$pd-font-size-md: 1rem;
$pd-font-size-lg: 1.125rem;
$pd-font-size-xl: 1.25rem;
$pd-font-size-2xl: 1.5rem;
$pd-font-size-3xl: 1.875rem;
$pd-font-size-4xl: 2.25rem;
$pd-font-size-5xl: 3rem;
$pd-font-size-6xl: 3.75rem;
$pd-font-size-7xl: 4.5rem;
$pd-font-size-8xl: 6rem;
$pd-font-size-9xl: 8rem;

$pd-font-weight-thin: 100;
$pd-font-weight-extralight: 200;
$pd-font-weight-light: 300;
$pd-font-weight-normal: 400;
$pd-font-weight-medium: 500;
$pd-font-weight-semibold: 600;
$pd-font-weight-bold: 700;
$pd-font-weight-extrabold: 800;
$pd-font-weight-black: 900;
