$spacing-2xs: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-sm-to-md: 10px;
$spacing-md: 16px;
$spacing-md-to-lg: 20px;
$spacing-lg: 32px;
$spacing-lg-to-xl: 44px;
$spacing-xl: 64px;
$spacing-2xl: 128px;
$spacing-3xl: 256px;
