$spacing-2xs: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-sm-to-md: 0.625rem;
$spacing-md: 1rem;
$spacing-md-to-lg: 1.25rem;
$spacing-lg: 2rem;
$spacing-lg-to-xl: 2.75rem;
$spacing-xl: 4rem;
$spacing-2xl: 8rem;
$spacing-3xl: 16rem;
